<div class="row">
	<div class="col-sm-8">
		<h4><%= event.name %></h4>
		<small><%= link_to "#{event_url}", event_url %></small>
		<!--<small><%= link_to event %></small>-->
	</div>
	
		<% if event.is_open %>
			<div class="col-sm-2">
				<div class="status_open"><%= "Aberto" %></div>
			</div>
			<div class="col-sm-2">
				<%= link_to "Fechar", event, class: "btn btn-default"%>
			</div>
			<%else%>
			<div class="col-sm-4">
				<div class="status_closed"><%= "Fechado" %></div>
			</div>
		<%end%>
	
</div>

	<div class="well">
		<div class="row">
			<div class="col-sm-4 centralize">
				<p class="bignumber">
				<%= Event.uids_by_event_id(event.id).size %>
				</p>
				<p>Amigos convidados</p>
			</div>
			<div class="col-sm-4 centralize">
				<p class="bignumber"><%= event.contributions.size %></p>
				<p>Contribuições efetuadas</p>
			</div>
			<div class="col-sm-4 centralize">
				<p class="bignumber"><%= number_to_currency(event.contribution_sum) %></p>
				<p>Valor arrecadado</p>
			</div>
		</div>
	</div>
	<div class="pushright">
	<h5>Extrato</h5>
		<table class="table table-striped">
			<tbody>
				
				<% event.contributions.order("created_at DESC").each do |contribution| %>
				<tr>
					<td><%=contribution.created_at.strftime("%H:%M")%></td>
					<td><%=contribution.created_at.strftime("%d %b. %Y")%></td>
					<td><%= image_tag contribution.user.get_picture(type:"small"),class: "img-circle img-small" %>
					</td>
					<td><%= contribution.user.name%></td>
					<td>contribuiu com</td>
					<td style="text-align:right;"><%= number_to_currency(contribution.product.value) if contribution.product%></td>
					
				</tr>
				<%end%>
			</tbody>
		</table>

	</div>

<hr>