<div class="jumbotron">
  <h1><span class="highlight">Chá de Fraldas Virtual!</span></h1>
  <p><span class="highlight">Tudo pelo Facebook e você recebe as fraldas em casa, mês a mês, na quantidade e tamanho que vai precisar.</span></p>
    <span class="pull-right">
        <p><a href="<%= new_event_path %>"class="btn btn-primary btn-lg" role="button">Crie Agora</a></p>
        <p><span class="highlight">(ou <a href='#'>saiba mais</a>)</span></p>
    </span>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Chás de Fraldas de Amigos</h3>
        <p><%= image_tag current_user.get_picture(type:"small"),class: "img-circle img-small"  %>
        <span class="contributor">Renata Fernandes:</span> 
            <a href="#">Chá de Fraldas do Bruninho</a>
        </p>
        <p><%= image_tag current_user.get_picture(type:"small"),class: "img-circle img-small"  %>
        <span class="contributor">Marina Lima:</span> 
            <a href="#">Chá da Lilica</a>
        </p>
        <p><%= image_tag current_user.get_picture(type:"small"),class: "img-circle img-small"  %>
        <span class="contributor">Roberta Fagundes:</span> 
            <a href="#">Mimos para o Pedro</a>
        </p>
        <p><%= image_tag current_user.get_picture(type:"small"),class: "img-circle img-small"  %>
        <span class="contributor">Lilian Ribeiro:</span> 
            <a href="#">Ana Lúcia Ferreira e Souza</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Últimos Chás de Fraldas criados</h3>
        <% Event.all.order("created_at DESC").limit(4).each do |event|%>
            <p>
                <%= image_tag event.user.get_picture(type:"small"),class: "img-circle img-small"  %>
                <span class="contributor"><%= event.user.name%>:</span> 
                <%= link_to event.name, event%>
            </p>
        <%end%>
    </div>
</div>