<div class="center"><div class="wizard">
    <% if @event.inform? %>
      <a class="current"><span class="badge badge-inverse">1</span>
    <%else%>
      <a><span class="badge">1</span>
    <%end%>Informar Dados</a>
    <% if @event.choose? %>
      <a class="current"><span class="badge badge-inverse">2</span>
    <%else%>
      <a><span class="badge">2</span>
    <%end%>Escolher Produtos</a>
    <% if @event.invite? %>
      <a class="current"><span class="badge badge-inverse">3</span>
    <%else%>
      <a><span class="badge">3</span>
    <%end%>Convidar Amigos</a>
</div></div>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="center">
      <%= render "#{@event.current_step}_step", :f => f %>

      <p><%= f.submit "Continue" %></p>
      <p><%= f.submit "Back", :name => "previous_button" %></p>
  </div>

<% end %>