<%= form_for @event do |f| %>

  <%= render 'event_steps/error_msgs'%>
  <%= render 'event_steps/wizard', step: "inform" %>
  <div class="form-group">
        <%= f.label :name , "Dê um nome para seu Chá de Fraldas" %>
        <%= f.text_field :name, :class=>"form-control col-sm-12" %>
        <p class="help-inline">ex. "Chá de Fraldas do Joaquim"</p>
  </div> <!-- form group -->
  
  <div class="form-group">
    <%= f.label :welcome_message , "Insira uma mensagem de boas vindas"%><br>
    <%= f.text_area :welcome_message, :class=>"form-control col-sm-12", :type=>"text/html",rows: "3"  %>
    <p class="help-inline">ex. "Bem-vinda ao Chá de Fraldas do Joaquim."</p>
  </div>


  <div class="form-group">
    <%= f.label :thankyou_message , "Insira uma mensagem de agradecimento"%><br>
    <%= f.text_area :thankyou_message, :class=>"form-control col-sm-12", :type=>"text/html",rows: "3" %>
    <p class="help-inline">ex. "Obrigada por participar do Chá de Fraldas do Joaquim."</p>
  </div>

  <div class="row">
 
        <div class="pull-right">
              <%= button_tag(type: "submit", class: "btn btn-success") do %>
              Prosseguir <i class="glyphicon glyphicon-chevron-right"></i>
              <% end %>
        </div>
     </div>
<%end%>

 