<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contribution.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @contribution.event %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
