
        
        <!-- sidebar -->
        
            <ul class="nav sidebar">
              <% if current_user%>
              <li class="topo">
              	<%= link_to current_user do %>
              	<div class="row">
              	<div class="col-xs-6">
              	<%= image_tag(current_user.get_picture(type:"normal"),class: "img-circle") %>
              	</div>
              	<div class="col-xs-6 greeting">
              		<p>Olá, <%= current_user.first_name %></p>
              		<% if current_user.get_gender=="male" %>
              		<p>Seja bem-vindo!</p>
              		<%else%>
              		<p>Seja bem-vinda!</p>
              		<%end%>
              	</div>

              	</div>
              	<% end %>
              </li>
              <li><%= link_to current_user do %><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;Minha Conta<%end%></li>
              <li><%=link_to new_event_path do %>
              <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Criar Chá de Fraldas<%end%></li>
              <%else%>
              <li class="topo"><%= link_to "Logar", omniauth_authorize_path(resource_name, "facebook"), class: "btn btn-default" %></li>
              <%end%>
            </ul>
       