<!DOCTYPE html>
<html>
  <%= render "layouts/header" unless @skip_head %>
  
  <body id="<%= @current_page %>">

  <div id="wrap">
    <%= render "layouts/menu" unless @skip_menu %> 
      <% if @skip_format %>
        <%= yield %>
      <% else %>
        <div class="main-container" id="<%= @current_page %>"> 
          <div class="container">
          <div class="row row-offcanvas row-offcanvas-left"> 
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <%= render "layouts/sidebar" %>
            </div>
            <div class="col-xs-12 col-sm-9">
              <%= yield %>
            </div>
          </div>
          </div>
        </div>
      <% end %>
   </div>
 
  <%= render "layouts/footer" %>
    
    <%= yield :scripts %>


 
  </body>
</html>
